.btn-info {
    font-size: xx-large;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 30px burlywood;
}

.body {
    background-image: url("teacher'sday.png");
    color: orangered;
    background-size: cover;
    background-repeat: repeat;
}

h5 {
    color: navy;
    font-size: large;
}

#h5 {
    font-family: cursive;
    color: chocolate;
}


a {
    color: blue;
}

#vs {
    width: 40px;
    height: 30px;
    border-radius: 40px;
    
}

h6 {
    color: gray;
    font-size: x-small;
}

#img {
    height: 200px;
    width: 200px;
}